.App {
  text-align: center;
  color: #333333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #db8a41;
  font-size: xx-large;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header img {
  max-width: 10%;
}

.flex-container {
  display: flex;
  height: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin: 1em 1em 1em 1em;
  width: 58vw;
  height: 66vh;
  font-size: xx-large;
  resize: none;
  border: none;
  outline: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input-field::placeholder {
  color: #B0BEC5;
}

.input-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

#encrypt {
  background: #db8a41;
  border: 3px solid #db8a41;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#encrypt:hover,
#encrypt:active {
  background-color: initial;
  background-position: 0 0;
  color: #db8a41;
}

#encrypt:active {
  opacity: .5;
}


#decrypt {
  background: #db8a41;
  border: 3px solid #db8a41;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#decrypt:hover,
#decrypt:active {
  background-color: initial;
  background-position: 0 0;
  color: #db8a41;
}

#decrypt:active {
  opacity: .5;
}

.output-box {
  display: flex;
  flex-direction: column;
}

.output-field {
  margin: 1em 0em 1em 0em;
  width: 33vw;
  height: 66vh;
  font-size: xx-large;
  resize: none;
  border: none;
  outline: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.output-field::placeholder {
  color: #B0BEC5;
}

.output-buttons {
  margin-bottom: 2em;
}

#copy {
  background: #333333;
  border: 3px solid #333333;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#copy:hover,
#copy:active {
  background-color: initial;
  background-position: 0 0;
  color: #333333;
}

#copy:active {
  opacity: .5;
}

.footer {
  background-color: #333333;
  color: white;
  padding: 1rem;
}
